#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  overflow: scroll;
  border: 1px solid black;
}

#grid {
  display: grid;
  width: 100%;
  height: 100%;
}

#grid div {
  border: 1px solid black;
}

#heading {
  text-align: center;
}
